body{
	background: #f8f8f8;
}

.logo {
	background: #f8f8f8;
	position: absolute;
	width: 54px;
	height: 54px;
}

.logo a{
	padding: 10px;
	display: block;
	font-size: 33px;
}


.sticky-top-bar{
	background: #fff;
	height: 54px;
	border-bottom: 1px solid #eee;
}

.c-play i {
	font-size: 18px;
	padding: 8px;
	background: #f8f8f8;
	border-radius: 100%;
}

.c-play h3{
	font-weight: 400;
}
.c-play p{
	font-size: 12px;
	color: #838587;
}